{% extends 'base.html' %}
{% block title %}Product Entry Page{% endblock %}


{% block content %}

<div class ="container"> 
	<h2>This is the Entry Success page</h2>



    <!-- Form -->
	<form action="/product_entry" method="POST">

		<!-- Product name -->
  	<div class="form-group">
      <div class="col col-6">
  			
    	 <input type="text" class="form-control" placeholder="Product Name" name='product' >
      </div>
  	</div>

		<!-- Price -->
  	<div class="form-group">
      <div class="col col-6">
    	  <input type="text" class="form-control" placeholder="Price" name='price' >
        <br>
        <button type="submit" class="btn btn-secondary">Submit Another</button>
        <button type="button" class="btn btn-outline-secondary"><a href="{{ url_for('search')}}">Search</a></button>
      </div>
    </div>
	</form>
  <br>

    <div class="alert alert-success alert-dismissible fade show" role="alert">
  Success! <br><strong>{{ product }}</strong> was submitted with the value <strong>{{ price }}</strong>.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</div>

{% endblock %}