{% extends 'base.html' %}
{% block content %}

<div class =container> 
 	<h2>This is the Product Entry page</h2>
	<br>

<form action="/product_entry" method="POST">

<!-- Product name -->
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Product Name" name='product' >
  </div>

<!-- Price -->
  <div class="form-group">
    <input type="number" class="form-control" placeholder="Price" name='price' >
  </div>

  
  <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
<p>Stored product name is: 
	<br>
 	<strong>{{ product }}</strong> 
</p>
<br>
<p>Stored price is:
	<br>
	<strong>{{ price }}</strong>
</p>
</div>

{% endblock %}