{% extends 'base.html' %}
{% block title %}README Page{% endblock %}

{% block content %}

<div class =container> 

<h2>Assorted Notes and TODO's</h2>
<br>
<h3><strong>Notes</strong></h3>
<ul>
  <li>
    XSRF vulnerability potential, need referrer links possibly or use of a Diffie-helman exchange. Need to learn how cookies work
  </li>
</ul>
  
<br>
<h3><strong>TODO</strong></h3>
<ul>
  <li>
    create a way to update in DB
  </li>
  <li>
    create a way to delete from DB
  </li>
  <li>
    create an aesthetic way to search, submit entries and recieve results
  </li>
  <li>
    PT using metasploit, nexpose or other
  </li>
</ul>


</div>



{% endblock %}