{% extends 'base.html' %}
{% block title %}Update and Deletion Page{% endblock %}

{% block content %}

<div class="container">



<dl>

{% for key, value in history.items() %}
  <div class="row">
    <div class="col-xs-3 rounded" style="background-color: white">
      <dt>Product Name = {{ key }}</dt>
      <dd>Price = {{ value }}</dd>
    </div>

    <div class="col-xs-3">
      <form action="/updater" method="POST">
        <input type="submit" value="Update" class="btn btn-outline-success btn-sm" name="delete">
      </form>

      <form action="/deleter" method="POST">
        <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm" name="update">
      </form>

    </div>
  </div>
  <br>
{% endfor %}
   

</dl>









<div class="alert alert-info alert-dismissible fade show" role="alert">
  Only previously discovered items <a href="{{ url_for('entry')}}" class="alert-link">(Submitted</a> or <a href="{{ url_for('search')}}" class="alert-link">Searched)</a> are available for updating or deleting.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

</div>

{% endblock %}